#container {
	display: grid;
	grid-template: 'a' 1fr 'b' 1fr 'c' 1fr 'd' 1fr / [col-start] 1fr [col-end];
	height: 100vh;
}

.item {
	display: grid;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}

#title {
	grid-area: a;
}

#process {
	grid-area: b;
}

#button {
	grid-area: d;
}

img {
	position: center;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
	grid-area: c;
}

#images img.opaque {
	opacity: 1;
	filter: alpha(opacity=1);
}
