:root {
	padding: 10%;
	text-align: center;
	font-size: x-large;
}

#title {
	font-weight: 700;
}

#button {
	text-align: center;
	padding: 8%;
}

.selected {
	display: inline-block;
	padding: 2%;
	border-radius: 5%;
	width: 30vw;
	cursor: pointer;
	align-items: center;
	text-align: center;
}

#startImg {
	width: 40vw;
	height: 20vh;
	align-content: center;
}

#nextImg {
	width: 40vw;
	height: 20vh;
	align-content: center;
}
#images_controls span {
	cursor: pointer;
}

#images {
	display: inline-block;
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding: 25%;
	text-align: center;
}

#images img {
	position: absolute;
	left: 0;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
}

#images img.opaque {
	opacity: 1;
	filter: alpha(opacity=1);
}
